<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="bg-dark caixa ">

                <h3 class="text-center">Chat em tempo Real</h3>

                <div class="overflow-auto areachat">
                    <div *ngIf="mensagens != null" class="container ">
                        <div *ngFor="let mensagem of mensagens; index as i">
                            <div class="mensagem">
                                <p><b>{{mensagem.payload.doc.data().user}}</b></p>
                                <p>{{mensagem.payload.doc.data().mensagem}}</p>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="input-group input-group-lg">
                    <input type="text" class="form-control bg-dark text-white" aria-label="Escreva a mensagem"
                        aria-describedby="Escreva a mensagem" id="mensagem">
                    <button (click)="enviarmensagem()" class="btn btn-primary" type="button"
                        id="button-addon2">Enviar</button>

                </div>

            </div>

        </div>
        <button (click)="teste()" class="btn btn-roxo">Teste</button>
    </div>
</div>